{% extends "bootstrap/base.html" %}

<title>{% block title %}{% endblock %}</title>

{% block head %}
    {{ super() }}
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-light">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="{{ url_for('profile') }}">Profile</a></li>
            <li><a class="navbar-brand" href="{{ url_for('routeview') }}">Routes</a></li>
            <li><a class="navbar-brand" href="{{ url_for('comparison') }}">Leaderboard</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="navbar-brand" href="{{ url_for('logout') }}">Logout</a>
        </ul>
    </div>
</nav>
{% endblock %}

{% block header %}{% endblock %}
{% block content %}{% endblock %}

