{% extends 'app-base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
    <div id=result></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src={{profile[2]}} alt="strava profile picture" class="img-thumbnail">
            <h3>{{username}}</h3>
        </div>
    </div>
    <div class ="row" style="margin-top: 30px;">
        <div class="col-md-6">
            <label for="random_route">Random Route </label>
            <div id="random_route" style="height: 400px; width: 500px; margin-bottom: 20px; margin-top: 20px;"></div>
        </div>
        <div class="col-md-6">
            <label for="most_pop">Most Popular Route </label>
            <div id="most_pop" style="height: 400px; width: 500px; margin-bottom: 20px; margin-top: 20px;"></div>
        </div>
    </div>
</div>



{% endblock %}

{% block scripts %}
<script>
    var pop = {{ pop_run|tojson }};
</script>
<script type = "text/javascript" src = "{{ url_for('static', filename = 'scripts/scripts.js') }}" ></script>
<script type = "text/javascript" src = "{{ url_for('static', filename = 'scripts/profile_map_scripts.js') }}" ></script>
{% endblock %}