{% extends 'app-base.html' %}

{% block title %}Route View{% endblock %}

{% block content %}
<div class="container">
    <p id=result></p>
</div>
<div class="container" id="map" style="height: 500px;"></div>

<div class="container" id="slider-dist" style="margin-top:20px; margin-bottom:20px;"></div>
<div class="container">
    <label for="amount">Distance Range: </label>
    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
</div>
<div class="container" id="slider-elev" style="margin-top:20px; margin-bottom:20px;"></div>
<div class="container">
    <label for="amount1">Elevation Gain: </label>
    <input type="text" id="amount1" readonly style="border:0; color:#f6931f; font-weight:bold;">
</div>
{% endblock %}



{% block scripts %}
<script type = "text/javascript" src = "{{ url_for('static', filename = 'scripts/scripts.js') }}" ></script>
<script type = "text/javascript" src = "{{ url_for('static', filename = 'scripts/map_scripts.js') }}" ></script>
{% endblock %}



