{% extends 'base.html' %}

{% block header %}
  {% block title %}Register{% endblock %}
{% endblock %}

{% block content %}
	<div class = "auth-wrapper">
		<div class = "auth-box">
			<div class = "auth-title">
				<h1>Register</h1>
			</div>
			<div class = "auth-outcome">Please enter a password and then connect to your Strava Account.</div>
			    <a href="{{auth}}" class="button">Authorise With Strava</a>
			<div class = "auth-breadcrumb-wrapper">
				<div class = "auth-breadcrumb">
					<a class = "auth-breadcrumb-link" href="{{ url_for('login') }}">Already Registered?</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

