{% extends 'app-base.html' %}

{% block header %}
    {% block title %}Profile{% endblock %}
{% endblock %}

<head>{{mymap.js}}</head>
{% block content %}
	<div class = "main-wrapper">
		<div class = "main-box">
			<div class ="main-item">
				{{username}}
				{{code}}
			</div>
			<form method="POST" action="{{ url_for('profile') }}">
				{{form.csrf_token}}
				<div>
					Distance in metres:
				</div>
				<div>
					{{form.distance}}
				</div>
				<div>
					Time in Minutes:
				</div>
				<div>
					{{form.time}}
				</div>
				<input type="submit" value="Submit Route Requests" />
			</form>
		</div>

	</div>
{% endblock %}