{% extends 'app-base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>{{username}}</h1>
            <h2>{{profile[0]}}&nbsp;{{profile[1]}}</h2>
            <img src={{profile[2]}} alt="strava profile picture" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <h2>{{profile[3]}},&nbsp;{{profile[4]}}</h2>
            <h2>Last active: {{profile[5]}}</h2>
            <h2>Friends: {{profile[6]}}</h2>
        </div>
        <div class="col-md-4">
            <h3>Main activity: {{profile[7]}}</h3>
            <h3>Unit Preference: {{profile[8]}}</h3>
        </div>
    </div>
</div>
<div class="container">
    <form method="POST" action="{{ url_for('profile') }}">
        {{form.csrf_token}}
        {{wtf.form_field(form.latitude)}}
        {{wtf.form_field(form.longitude)}}
        {{wtf.form_field(form.distance)}}
        {{wtf.form_field(form.time)}}
        {{wtf.form_field(form.elevation)}}
        {{wtf.form_field(form.range)}}
        <input class="btn btn-primary" type="submit" value="Submit Route Requests"/>
    </form>
</div>


<div class="container" id="slider-dist" style="margin-top:20px; margin-bottom:20px;"></div>
<div class = "container">
    <label for="amount">Distance Range: </label>
    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
</div>
<div class="container" id="slider-elev" style="margin-top:20px; margin-bottom:20px;"></div>
<div class = "container">
    <label for="amount1">Elevation Gain: </label>
    <input type="text" id="amount1" readonly style="border:0; color:#f6931f; font-weight:bold;">
</div>

<div class="container" id="map" style="height: 500px; margin-bottom: 20px; margin-top: 20px;"></div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    // The first parameter are the coordinates of the center of the map
    // The second parameter is the zoom level
    var map = L.map('map').setView([55.8642, -4.2518], 11);

    // {s}, {z}, {x} and {y} are placeholders for map tiles
    // {x} and {y} are the x/y of where you are on the map
    // {z} is the zoom level
    // {s} is the subdomain of cartodb
    var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
    });

    // Now add the layer onto the map
    map.addLayer(layer);
    var theMarker = {};
    var theCircle = {};
    var lat = {};
    var lon = {};

    map.on('click', function (e) {
        lat = e.latlng.lat;
        lon = e.latlng.lng;

        console.log("You clicked the map at LAT: " + lat + " and LONG: " + lon);
        //Clear existing marker,

        if (theMarker !== undefined) {
            map.removeLayer(theMarker);
            map.removeLayer(theCircle);
        }
        ;

        //Add a marker to show where you clicked.
        theMarker = L.marker([lat, lon]).addTo(map);
        theCircle = L.circle([lat,lon], 10000).addTo(map);
    });

    $(function () {
        $("#slider-dist").slider({
            range: true,
            min: 0,
            max: 100,
            values: [1, 20],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#amount").val($("#slider-dist").slider("values", 0) +
            "km - " + $("#slider-dist").slider("values", 1) + "km");
    });

    $(function () {
        $("#slider-elev").slider({
            range: true,
            min: 0,
            max: 1500,
            values: [0, 200],
            slide: function (event, ui) {
                $("#amount1").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#amount1").val($("#slider-elev").slider("values", 0) +
            "m - " + $("#slider-elev").slider("values", 1) + "m");
        console.log($("#slider-elev").slider("values", 0));
    });
</script>
{% endblock %}