{% extends 'app-base.html' %}

{% block title %}Route View{% endblock %}

{% block content %}
    <div class = "container" id="map" style="height: 500px;"></div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  // The first parameter are the coordinates of the center of the map
  // The second parameter is the zoom level
  var map = L.map('map').setView([55.8642, 4.2518], 11);
  var routes = {{ routes|tojson }};
  console.log(routes);

  // {s}, {z}, {x} and {y} are placeholders for map tiles
  // {x} and {y} are the x/y of where you are on the map
  // {z} is the zoom level
  // {s} is the subdomain of cartodb
    var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
  });
    // It even opens up a popup when you click it!

    var x;
    for(x=0;x<routes.length;x++) {
        var name = String(routes[x][0]);
        var data = "time: "+String(routes[x][2]) + "<br> elevation: " + String(routes[x][3])+"m";
        L.marker([routes[x][4][0], routes[x][4][1]]).addTo(map).bindPopup("<strong>"+name+"</strong><br>"+"<p>"+data+"</p>").openPopup();
    }
  // Now add the layer onto the map
  map.addLayer(layer);
</script>
{% endblock %}



